@import "colors";

#iconprint {
    color: $blue;
    font-size: 36px;
}

#logobdx {
    display: none;
}

#headercard {
    color: white;
    background-color: $blue;
}

#longcontent {
    font-size: large;
    padding: 80px;
    text-align: justify;
}

#socialcompany {
    justify-content: space-around;
    padding-bottom: inherit;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 2.5rem;
}

.socialicons {
    height: 2rem;
    width: 2rem;
}

#contactdescri1 {
    text-align: left;
}

.companyinfo {
    background-color: $bluegrey;
}

.companyhead {
    background-color: $blue;
}
