
/*h3 .md-display-1{
  margin: 0 auto 0 auto;
}*/

#iconprint{
  color: white;
  font-size: 45px;
}

#logobdx{
  display: none;
}

#bigcard{
  border-color: lightgray;
  box-shadow: 1px 0px 3px 2px lightslategray;
}

#headercard{
  color: white;
  background-color: #3a88be;
}

#longcontent{
  font-size: large;
padding: 80px;
text-align: justify;
}

#socialcompany{
  justify-content: space-around;
padding-bottom: inherit;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 2.5rem;
}

.editfb,
.editlnkd,
.edittwt{
  font-size: 1.75em;
}


.editModetwt-label,
.editModefb-label{
  margin: 0px;
}

.editlnkd{
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.editModelnkd-label{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}


.edit1 {
    font-size: 2.8125em;
}

 .edit2 {
    font-size: 2.125em;
}

.edit3 {
   font-size: 2.125em;
}

.edit4 {
   font-size: 1.75em;
   width: 100%;
}

.edit5{
  font-size:1.5em;
  height:20em;
  width: 100%;
}

.socialicons{

  height: 2rem;
  width: 2rem;
}

#contactdescri1{
  text-align: left;
}
