@import "colors";

#footer {
    background-color: $blue;
    overflow: hidden;

    img {
        height: 4em;
        width: 4em;
    }

    p {
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .roundfooterimage {
      background-position: center;
      background-size: contain;
      height: 4em;
      width: 4em;
      border-radius: 25px;
      background-repeat: no-repeat;
    }
}
