#footer {
    background-color: #3a88be;
    overflow: hidden;

    img {
        height: 4em;
        width: 4em;
    }

    p {
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
