@import "colors";

body {
    background-color: $bluegrey;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

#homeback {
    background-image: url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 428px;
}

.imgcompanies {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    width: 100%;
}

.prescompanies {
    min-height: 45px;
    max-height: 45px;
}

.colored,
.colored:focus,
.colored:hover {
    background-color: $bluedark;
}

.companyhead {
    padding: 25px;
}

.companyinfo {
    .card-title {
        font-size: 26px;
    }

    p {
        font-size: 16px;
        line-height: 30px;
    }

    h6 {
        font-size: 18px;
    }
}

.backdrop {
    background-color: $bluedark;
}

.deleteModal {
    position: fixed;
    top: 33%;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    background-color: white;
    padding: 6% !important;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    width: 50%;
    z-index: 9999;
}

.messageModal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 2%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    width: 50%;
    z-index: 9999;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: block;
    opacity: 0.5;
}

.toast {
    background-color: $bluedark;
    color: white;
    text-align: left;
    top: 50px;
}

.toast-error {
    background-color: #c33829;
}

.toast-success {
    background-color: #4aa152;
}

#socialcompany .fa {
    color: white;
}

.fa {
    font-size: 30px;
}

.collection .btn-floating {
    margin-top: 5px;
}

.collection .collection-item.avatar {
    display: flex;
}
.toast-info{
  background-color: $blue;
}

#companiesList .ng-enter {
    -webkit-transition: all 0.25s ease-in ;
    transition: all 0.25s ease-in ;
    opacity: 0;
}

#companiesList .ng-enter.ng-enter-active {
    opacity: 1;
}
#companiesList .ng-leave {
    -webkit-transition: all 0.25s ease-out ;
    transition: all 0.25s ease-out ;
    opacity: 1;
}

#companiesList .ng-leave.ng-leave-active {
    opacity: 0;
}
