.titre {
    text-align: center;
}

#login {
    height: 100vh;
    background-image: url("/img/back2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180%;
}

.centerForgot {
    cursor: pointer;
    margin-left: 15px;
}
