#navbar {
    height: 140px;

    #iconNav .material-icons {
        font-size: 50px;
        padding: 10%;
    }

    .card-panel {
        margin: 5px 0 0;
        padding: 15px;

        .row {
            margin-bottom: 0;
        }
    }

    .buttonNav {
        right: 23px;
        top: 23px;
    }
}
