#navbar {

md-card md-card-header md-card-avatar {
    width: 64px;
    height: 45px;
  }
  #logonav {
    align-self: baseline;
  }
  #iconrow {
    justify-content: space-around;
  }
  .material-icons {
      color: #3a88be;
      font-size: 48px;
  }

}
