<section>
    <div class="row">
        <div class="card card-panel">
            <div class="card-content">
                <div class="row">
                    <div class="col s6">
                        <h3>Liste des sociétés</h3>
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat="company in $ctrl.companies | orderBy : '!active'" style="background-color:{{company.active ? '' : '#eeeeee' }}">
                                <div class="col s10">
                                    <img ng-src="{{company.image}}" alt="" class="circle">
                                    <a ui-sref="app.company({id:company._id})"><span class="title">{{company.name}}</span></a>
                                    <p>{{company.secteur}} {{company.contacts.name ? '/' : ''}} {{company.contacts.name}}</p>
                                    <label>{{company.notes}}</label>
                                </div>
                                <div class="col s2">
                                    <span class="new badge {{company.active ? 'blue' : 'grey darken-1'}}" data-badge-caption="{{company.active ? 'Active' : 'Inactive'}}"></span>
                                    <a class="btn-floating waves-effect waves-light grey darken-1" tooltipped data-position="left" data-delay="50" data-tooltip="Archiver la société" ng-click="$ctrl.disableCompany(company)" ng-if="company.active">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a class="btn-floating waves-effect waves-light blue" tooltipped data-position="left" data-delay="50" data-tooltip="Dé-Archiver la société" ng-click="$ctrl.activateCompany(company)" ng-if="!company.active">
                                        <i class="material-icons">done</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s6">
                        <h3>Liste des adhérents</h3>
                        <ul class="collection">
                            <li class="collection-item avatar" style="background-color:{{user.active ? '' : '#eeeeee' }}" ng-repeat="user in $ctrl.users | orderBy : '!active'">
                                <div class="col s10">
                                    <img ng-src="{{user.image}}" alt="" class="circle">
                                    <p>
                                        <a ui-sref="app.user({id:user._id})">
                                            <span class="title">{{user.firstname}} {{user.name}}</span>
                                        </a>
                                        {{user.company.length > 0 ? '--' : ""}}
                                        <span ng-repeat="company in user.company">
                                            <span ng-repeat="mycompany in company track by $index">{{mycompany.name}}</span> {{(user.company.length > 1 && user.company.length != $index + 1) ? ',' : ""}}
                                        </span>
                                    </p>
                                    <p>{{user.email}} {{user.number ? '/' : ''}} {{user.number}}</p>
                                    <label>{{user.remarques}}</label>
                                </div>
                                <div class="col s2">
                                    <span class="new badge {{user.active ? 'blue' : 'grey darken-1'}}" data-badge-caption="{{user.active ? 'Actif' : 'Inactif'}}"></span>
                                    <a class="btn-floating waves-effect waves-light grey darken-1" tooltipped data-position="left" data-delay="50" data-tooltip="Désactiver l'adhérent" ng-click="$ctrl.disable(user)" ng-if="user.active">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a class="btn-floating waves-effect waves-light blue" tooltipped data-position="left" data-delay="50" data-tooltip="Activer l'adhérent" ng-click="$ctrl.activate(user)" ng-if="!user.active">
                                        <i class="material-icons">done</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                    <a class="btn-floating colored btn-large">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Ajouter un adhérent" class="btn-floating colored" ui-sref="app.newAdherent">
                                <i class="material-icons">person_add</i>
                            </a>
                        </li>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Export CSV Adhérents" class="btn-floating colored" ng-json-export-excel data="$ctrl.users" report-fields="{
                                        name: 'Nom',
                                        firstname:'Prénom',
                                        active:'Activé',
                                        email:'Email',
                                        number:'Numéro',
                                        address:'Adresse'
                                    }" filename="'bdx-entrepreneur-adherents'">
                                <i class="material-icons">system_update_alt</i>
                                </a>
                        </li>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Ajouter une société" class="btn-floating colored" ui-sref="app.newCompany">
                                <i class="material-icons">note_add</i>
                            </a>
                        </li>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Export CSV Sociétés" class="btn-floating colored" ng-json-export-excel data="$ctrl.companies" report-fields="{
                                      name: 'Société',
                                      secteur:'Secteur',
                                      siteweb:'Site Web',
                                      prestation:'Prestation'
                                    }" filename="'bdx-entrepreneur-societes'">
                                <i class="material-icons">system_update_alt</i>
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
