<section>
    <div class="row">
        <div class="card card-panel">
            <div class="card-content">
                <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                    <a class="btn-floating colored btn-large">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Ajouter une société" class="btn-floating colored" ui-sref="app.newCompany">
                                <i class="material-icons">note_add</i>
                            </a>
                        </li>
                        <li>
                            <a tooltipped data-position="left" data-delay="50" data-tooltip="Ajouter un utilisateur" class="btn-floating colored" ui-sref="app.newAdherent">
                                <i class="material-icons">person_add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col s6">
                        <h3>Liste des compagnies</h3>
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat="company in $ctrl.companies">
                                <img ng-src="{{company.image}}" alt="" class="circle">
                                <span class="title">{{company.name}}</span>
                                <p>{{company.secteur}} {{company.contacts.name ? '/' : ''}} {{company.contacts.name}}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col s6">
                        <h3>Liste des utilisateurs</h3>
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat="user in $ctrl.users">
                                <img ng-src="{{user.image}}" alt="" class="circle">
                                <span class="title">{{user.firstname}} {{user.name}}</span>
                                <p>{{user.email}} {{user.number ? '/' : ''}} {{user.number}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
