<navbar></navbar>
<div layout="row" layout-padding layout-margin>
  <div flex>
    <h3>Ajouter une compagnie</h3>
    <md-button class="md-fab md-primary md-icon-button" ui-sref="admin.new({id:'_new'})">
        <i class="material-icons">note_add</i>
    </md-button>
  </div>

  <div flex>
    <h3>Ajouter un nouvel utilisateur</h3>
    <md-button class="md-fab md-primary md-icon-button" ui-sref="app.newUser">
        <i class="material-icons">note_add</i>
    </md-button>
  </div>
</div>


<div layout="row" layout-padding layout-margin>
  <div flex>
    <md-list>
      <h3>Liste des compagnies</h3>
      <md-list-item ng-repeat="company in $ctrl.companies">
        <md-checkbox></md-checkbox>
        <div class="md-list-item-text">
          <p>{{company.name}}</p>

        </div>
      </md-list-item>
    </md-list>
  </div>
<!-- get the users but not populate with companies... -->
  <div flex>
    <md-list>
      <h3>Liste des utilisateurs</h3>
      <md-list-item ng-repeat="user in $ctrl.users">
        <md-checkbox></md-checkbox>
        <div class="md-list-item-text">
          <p>{{user.name}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
<footer></footer>
