<section ng-if="!$ctrl.editMode">
    <div id="printableArea">
        <div class="card card-panel">
            <div class="card-content companyinfo" id="bigcard">
                <div class="row">
                    <div class="col s12">
                        <div class="row companyhead white-text">

                            <div class="col s12 m3">
                                <div class="row">
                                    <img ng-src="{{$ctrl.company.image}}" class="responsive-img" alt="">
                                </div>


                                <!-- Social -->

                                <div class="row center" id="socialcompany">
                                    <div class="col s2">
                                        <a href="https://www.facebook.com/{{$ctrl.company.social.facebook}}" target="_blank" ng-if="$ctrl.company.social.facebook">
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col s2">
                                        <a href="https://www.linkedin.com/in/{{$ctrl.company.social.linkedin}}" target="_blank" ng-if="$ctrl.company.social.linkedin">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col s2">
                                        <a href="https://twitter.com/{{$ctrl.company.social.twitter}}" target="_blank" ng-if="$ctrl.company.social.twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col s2">
                                        <a href="https://www.youtube.com/user/{{$ctrl.company.social.youtube}}" target="_blank" ng-if="$ctrl.company.social.youtube">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col s2">
                                        <a href="https://www.instagram.com/{{$ctrl.company.social.instagram}}" target="_blank" ng-if="$ctrl.company.social.instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col s2">
                                        <a href="https://www.pinterest.com/{{$ctrl.company.social.pinterest}}" target="_blank" ng-if="$ctrl.company.social.pinterest">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col s12 m9">
                                <div class="col s12">
                                    <h3>{{$ctrl.company.name}}</h3>
                                </div>
                                <div class="col s12">
                                    <h6>Secteur : {{$ctrl.company.secteur}}</h6>
                                </div>
                                <div class="col s12">
                                    <h6>{{$ctrl.company.introduction}}</h6>
                                </div>
                                <div class="col s12 m8" ng-if="$ctrl.company.tags.length > 0">
                                    <div ng-repeat="tag in $ctrl.tags" class="chip">
                                        {{tag}}
                                    </div>
                                </div>
                                <div class="col s12 m4">
                                    <h6>
                                        <a class="waves-effect waves-light btn colored" href="{{$ctrl.company.siteweb}}" target="_blank">Site Web</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- ////////////////////////////////
                LongContent
                ////////////////////////////////////-->

                <div class="row">
                    <!-- Description -->
                    <div class="col s12" ng-if="$ctrl.company.presentation">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Qui nous sommes</span>
                                <p>{{$ctrl.company.presentation}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Ce que nous proposons -->
                    <div class="col s12" ng-if="$ctrl.company.prestation">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Ce que nous faisons</span>
                                <p>{{$ctrl.company.prestation}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Attentes -->
                    <div class="col s12" ng-if="$ctrl.company.attentes">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Ce que nous recherchons</span>
                                <p>{{$ctrl.company.attentes}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Notes -->
                    <div class="col s12" ng-if="$ctrl.company.notes && $ctrl.isAdmin">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Notes</span>
                                <p>{{$ctrl.company.notes}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////
                          Membres
                     ////////////////////////////-->
                <div class="row">
                    <div class="col s12">
                        <h4>Membres de la société {{$ctrl.company.name}}</h4>
                    </div>

                    <!-- Contact -->

                    <div class="col m12 l6" ng-repeat="contact in $ctrl.company.contacts">
                        <div class="card card-panel hoverable">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m3">
                                        <img class="responsive-img circle" ng-src="{{contact.image}}" alt="" />
                                    </div>
                                    <div class="col s12 m9">
                                        <div class="col s12 smallPrint">
                                            <p>{{contact.firstname}} {{contact.name}}</p>
                                            <p>{{contact.email}} {{contact.number}}</p>
                                            <p>{{contact.address.ville}}</p>
                                        </div>
                                        <div class="col s12 smallPrint">
                                            <p>
                                                <a href="https://www.facebook.com/{{contact.social.facebook}}" target="_blank" ng-if="contact.social.facebook">
                                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://twitter.com/{{contact.social.twitter}}" target="_blank" ng-if="contact.social.twitter">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/{{contact.social.linkedin}}" target="_blank" ng-if="contact.social.linkedin">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.pinterest.com/{{contact.social.pinterest}}" target="_blank" ng-if="contact.social.pinterest">
                                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.youtube.com/user/{{contact.social.youtube}}" target="_blank" ng-if="contact.social.youtube">
                                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.instagram.com/{{contact.social.instagram}}" target="_blank" ng-if="contact.social.instagram">
                                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ////////////////////////
                      Speed Dial
                 ////////////////////////////-->
            <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                <a class="btn-floating colored btn-large">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <a tooltipped data-position="left" data-delay="50" data-tooltip="Éditer" class="btn-floating colored" ng-click="$ctrl.edit($ctrl.company, $ctrl.image)" user="$ctrl.user" ng-if="$ctrl.hasAccess">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </li>
                    <li>
                        <a tooltipped data-position="left" data-delay="50" data-tooltip="Imprimer" class="btn-floating colored" ng-click="$ctrl.printDiv()">
                            <i class="material-icons">print</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- editMode -->




<section ng-if="$ctrl.editMode">
    <div class="card card-panel">
        <div class="card-content">
            <form name="editCompany">
                <div class="row">

                    <!-- Image -->
                    <div class="col s3">
                        <a href="{{$ctrl.company.siteweb}}" target="_blank">
                            <img ng-src="{{$ctrl.company.image}}" class="responsive-img" alt="" />
                        </a>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn blue">
                                    <span>Image</span>
                                    <file-upload ng-model="$ctrl.image" ng-change="$ctrl.preview()"></file-upload>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Infos générales -->
                    <div class="col s9">
                        <div class="input-field">
                            <input class="validate" ng-model="$ctrl.company.name" required>
                            <label class="active">Nom de la société *</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" ng-model="$ctrl.company.secteur" required>
                            <label class="active">Secteur d'activité *</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" ng-model="$ctrl.company.siteweb" required>
                            <label class="active">Site Web de la société *</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" ng-model="$ctrl.company.introduction" required>
                            <label class="active">Brève introduction *</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" ng-model="$ctrl.tags" placeholder="Entrer les mots clés séparés par une ,">
                            <label class="active">Tags</label>
                        </div>
                    </div>
                </div>

                <!-- Social -->
                <div class="row">
                    <div class="input-field col m2 s12">
                        <a href="https://www.facebook.com/{{$ctrl.company.social.facebook}}" target="_blank">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.facebook">
                    </div>
                    <div class="input-field col m2 s12">
                        <a href="https://www.linkedin.com/in/{{$ctrl.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.linkedin">
                    </div>
                    <div class="input-field col m2 s12">
                        <a href="https://twitter.com/{{$ctrl.company.social.twitter}}" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.twitter">
                    </div>
                    <div class="input-field col m2 s12">
                        <a href="https://www.youtube.com/user/{{$ctrl.company.social.youtube}}" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.youtube">
                    </div>
                    <div class="input-field col m2 s12">
                        <a href="https://www.instagram.com/{{$ctrl.company.social.instagram}}" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.instagram">
                    </div>
                    <div class="input-field col m2 s12">
                        <a href="https://www.pinterest.com/{{$ctrl.company.social.pinterest}}" target="_blank">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                        <input class="validate" ng-model="$ctrl.company.social.pinterest">
                    </div>
                </div>

                <!-- Company description -->
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <textarea class="materialize-textarea" ng-model="$ctrl.company.presentation" maxlength="150" rows="5" required></textarea>
                            <label class="active">Description de la société *</label>
                        </div>
                    </div>
                    <!-- Infos Company -->
                    <div class="col s12">
                        <div class="input-field">
                            <textarea class="materialize-textarea" ng-model="$ctrl.company.prestation" rows="5"></textarea>
                            <label class="active">Ce que nous vous proposons</label>
                        </div>
                        <div class="input-field">
                            <textarea class="materialize-textarea" ng-model="$ctrl.company.attentes" maxlength="150" rows="5"></textarea>
                            <label class="active">Ce que nous recherchons</label>
                        </div>
                        <div class="input-field" ng-if="$ctrl.isAdmin">
                            <textarea class="materialize-textarea" ng-model="$ctrl.company.notes" maxlength="150" rows="5"></textarea>
                            <label class="active">Notes</label>
                        </div>
                    </div>
                </div>

                <!-- Contact-->
                <div class="row">
                    <div class="col s6" ng-repeat="contact in $ctrl.company.contacts track by $index">
                        <h4>Contact</h4>
                        <div class="card card-panel hoverable">
                            <div class="card-content">
                                <div class="row valign-wrapper">
                                    <div class="col s3">
                                        <img class="responsive-img circle" ng-src="{{contact.image}}" alt="" />
                                    </div>
                                    <div class="col s9">
                                        <div class="card-title">
                                            <p>{{contact.name}}</p>
                                            <p>{{contact.email}}</p>
                                            <p>{{contact.number}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn blue" ng-click="$ctrl.deleteUser($index)">
                                    <i class="material-icons right">close</i>Désactiver Membre
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn right blue" ng-click="$ctrl.addUser()">
                        <i class="material-icons right">add</i>Ajouter Membre
                    </a>
                </div>

                <membre contact="contact" ng-repeat="contact in $ctrl.contacts track by $index"></membre>


                <div class="row">

                    <!-- Buttons -->
                    <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                        <a class="btn-floating colored btn-large">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a tooltipped data-position="left" data-delay="50" data-tooltip="Enregistrer" class="btn-floating colored" ng-click="$ctrl.edit($ctrl.company, $ctrl.tags, $ctrl.image)" ng-disabled="editCompany.$invalid">
                                    <i class="material-icons">save</i>
                                </a>
                            </li>
                            <li>
                                <a tooltipped data-position="left" data-delay="50" data-tooltip="Supprimer" class="btn-floating colored" ng-click="showModal = !showModal" ng-if="$ctrl.isAdmin">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </li>
                            <li>
                                <a tooltipped data-position="left" data-delay="50" data-tooltip="Annuler" class="btn-floating colored" ng-click="$ctrl.cancel($ctrl.company)">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col s6 deleteModal" ng-hide="!showModal">
                        <div class="modal-content">
                            <h4>Supprimer</h4>
                            <p>Êtes-vous sûr de supprimer la société {{$ctrl.company.name}}?</p>
                        </div>
                        <hr>
                        <div class="modal-footer">
                            <a class="modal-action btn red right" ng-click="$ctrl.delete($ctrl.company)">
                                <i class="material-icons right">delete_forever</i> Supprimer
                            </a>
                            <a class="modal-action btn colored left" ng-click="showModal = !showModal">
                                <i class="material-icons right">cancel</i> Annuler
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-overlay" ng-if="showModal"></div>
</section>
