<section ng-if="!$ctrl.editMode">
    <div id="printableArea">
        <div class="card card-panel">
            <div class="card-content companyinfo" id="bigcard">

                <div class="row colored companyhead white-text">
                    <div class="col s3">
                        <div class="row">
                            <img ng-src="{{$ctrl.company.image}}" class="responsive-img" alt="">
                        </div>


                        <!-- Social -->

                        <div class="row center" id="socialcompany">
                            <div class="col s2">
                                <a href="{{$ctrl.social.facebook}}" target="_blank" ng-if="$ctrl.social.facebook">
                                    <img ng-src="/img/facebook2.png" class="md-icon socialicons">
                                </a>
                            </div>
                            <div class="col s2">
                                <a href="{{$ctrl.social.linkedin}}" target="_blank" ng-if="$ctrl.social.linkedin">
                                    <img ng-src="/img/linkedin2.png" class="md-icon socialicons">
                                </a>
                            </div>
                            <div class="col s2">
                                <a href="{{$ctrl.social.twitter}}" target="_blank" ng-if="$ctrl.social.twitter">
                                    <img ng-src="/img/twitter.png" class="md-icon socialicons">
                                </a>
                            </div>
                            <div class="col s2">
                                <a href="{{$ctrl.social.youtube}}" target="_blank" ng-if="$ctrl.social.youtube">
                                    <img ng-src="/img/youtube.png" class="md-icon socialicons">
                                </a>
                            </div>
                            <div class="col s2">
                                <a href="{{$ctrl.social.instagram}}" target="_blank" ng-if="$ctrl.social.instagram">
                                    <img ng-src="/img/instagram.png" class="md-icon socialicons">
                                </a>
                            </div>
                            <div class="col s2">
                                <a href="{{$ctrl.social.pinterest}}" target="_blank" ng-if="$ctrl.social.pinterest">
                                    <img ng-src="/img/pininterest.png" class="md-icon socialicons">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col s9">
                        <h3>{{$ctrl.company.name}}</h3>
                        <h6>Secteur : {{$ctrl.company.secteur}}</h6>
                        <h6>{{$ctrl.company.introduction}}</h6>
                        <h6><a class="waves-effect waves-light btn" href="{{$ctrl.company.siteweb}}" target="_blank">Site Web</a></h6>
                    </div>
                </div>


                <!-- ////////////////////////////////
                LongContent
                ////////////////////////////////////-->

                <div class="row">
                    <div class="row">
                        <!-- Description -->
                        <div class="col s12 m5 offset-m1" ng-if="$ctrl.company.presentation">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Qui nous sommes</span>
                                    <p>{{$ctrl.company.presentation}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Ce que nous proposons -->
                        <div class="col s12 m5" ng-if="$ctrl.company.prestation">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Ce que nous faisons</span>
                                    <p>{{$ctrl.company.prestation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Attentes -->
                        <div class="col s12 m5 offset-m1" ng-if="$ctrl.company.attentes">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Ce que nous recherchons</span>
                                    <p>{{$ctrl.company.attentes}}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Notes -->
                        <div ng-class="!$ctrl.company.attentes ? 'col s12 m5 offset-m1' : 'col s12 m5'" ng-if="$ctrl.company.notes">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Notes</span>
                                    <p>{{$ctrl.company.notes}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////
                          Membres
                     ////////////////////////////-->
                <div class="row">
                    <div class="col s12">
                        <h4>Membres de la compagnie {{$ctrl.company.name}}</h4>
                    </div>

                    <!-- Contact -->

                    <div class="col s4" ng-repeat="contact in $ctrl.company.contacts">
                        <div class="card card-panel hoverable">
                            <div class="card-content">
                                <div class="row valign-wrapper">
                                    <div class="col s3">
                                        <img class="responsive-img circle" ng-src="{{contact.image}}" alt="" />
                                    </div>
                                    <div class="col s9">
                                        <div class="card-title">
                                            <p>{{contact.name}}</p>
                                            <p>{{contact.email}}</p>
                                            <p>{{contact.number}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ////////////////////////
                      Speed Dial
                 ////////////////////////////-->
            <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating green" ng-click="$ctrl.edit($ctrl.company, $ctrl.image)" user="$ctrl.user">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red darken-1" ng-click="$ctrl.delete($ctrl.company)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red darken-1" ng-click="$ctrl.printDiv()">
                            <i class="material-icons yellow darken-1">print</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- editMode -->

<section ng-if="$ctrl.editMode">
    <div class="card card-panel">
        <div class="card-content">
            <div class="row">

                <!-- Image -->
                <div class="col s3">
                    <a href="{{$ctrl.company.siteweb}}" target="_blank">
                        <img ng-src="{{$ctrl.company.image}}" class="responsive-img" alt="" />
                    </a>
                    <form action="#">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <file ng-model="$ctrl.image" ng-change="$ctrl.preview()"></file>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Infos générales -->
                <div class="col s9">
                    <div class="input-field">
                        <input class="validate" ng-model="$ctrl.company.name">
                        <label>Nom de la compagnie</label>
                    </div>
                    <div class="input-field">
                        <input class="validate" ng-model="$ctrl.company.secteur">
                        <label>Secteur d'activité</label>
                    </div>
                    <div class="input-field">
                        <input class="validate" ng-model="$ctrl.company.siteweb">
                        <label>Site Web de la compagnie</label>
                    </div>
                    <div class="input-field">
                        <input class="validate" ng-model="$ctrl.tags" placeholder="Entrer les mots clés séparés par une ,">
                        <label>Tags</label>
                    </div>
                </div>
            </div>

            <!-- Social -->
            <div class="row">
                <div class="input-field col s4">
                    <a href="{{$ctrl.social.facebook}}">
                        <img ng-src="/img/facebook2.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.facebook">
                    <label>Facebook</label>
                </div>
                <div class="input-field col s4">
                    <a href="{{$ctrl.linkedin}}">
                        <img ng-src="/img/linkedin2.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.linkedin">
                    <label>Linkedin</label>
                </div>
                <div class="input-field col s4">
                    <a href="{{$ctrl.social.twitter}}">
                        <img ng-src="/img/twitter.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.twitter">
                    <label>Twitter</label>
                </div>
                <div class="input-field col s4">
                    <a href="{{$ctrl.social.youtube}}">
                        <img ng-src="/img/youtube.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.youtube">
                    <label>Youtube</label>
                </div>
                <div class="input-field col s4">
                    <a href="{{$ctrl.social.instagram}}">
                        <img ng-src="/img/instagram.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.instagram">
                    <label>Instagram</label>
                </div>
                <div class="input-field col s4">
                    <a href="{{$ctrl.social.pinterest}}">
                        <img ng-src="/img/pininterest.png" class="socialicons">
                    </a>
                    <input class="validate" ng-model="$ctrl.social.pinterest">
                    <label>Pinterest</label>
                </div>
            </div>

            <!-- Company description -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.presentation" maxlength="150" rows="5"></textarea>
                        <label>Company Description</label>
                    </div>
                </div>
            </div>

            <!-- First Contact Card -->
            <div class="row">
                <div class="col s4">
                    <h4>Contact</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.name">
                        <label>Nom Prénom</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.email">
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.number">
                        <label>Phone Number</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.facebook">
                        <label>Facebook</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.linkedin">
                        <label>Linkedin</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateurbis.twitter">
                        <label>Twitter</label>
                    </div>
                </div>

                <!-- Second Contact Card -->
                <div class="col s4">
                    <h4>Contact</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.fondateur.name">
                        <label>Nom Prénom</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" ng-model="$ctrl.fondateur.email">
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" ng-model="$ctrl.fondateur.number">
                        <label>Phone Number</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.fondateur.facebook">
                        <label>Facebook</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.fondateur.linkedin">
                        <label>Linkedin</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.fondateur.twitter">
                        <label>Twitter</label>
                    </div>
                </div>

                <!-- Thrid Contact Card -->
                <div class="col s4">
                    <h4>Contact</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.name">
                        <label>Nom Prénom</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.email">
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.number">
                        <label>Phone Number</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.facebook">
                        <label>Facebook</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.linkedin">
                        <label>Linkedin</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" ng-model="$ctrl.cofondateur.twitter">
                        <label>Twitter</label>
                    </div>
                </div>
            </div>

            <!-- Infos Company -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.prestation" rows="5"></textarea>
                        <label>Ce que nous vous proposons</label>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.attentes" maxlength="150" rows="5"></textarea>
                        <label>Ce que nous recherchons</label>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.notes" maxlength="150" rows="5"></textarea>
                        <label>Notes</label>
                    </div>
                </div>
            </div>

            <!-- Utilisateurs déjà présents - Pas d'editMode sur cela -->
            <div class="row">
                <div class="col s12">
                    <h4>Membres de la compagnie {{$ctrl.company.name}}</h4>
                </div>

                <!-- Première carte contact -->
                <div class="col s4">
                    <span>{{$ctrl.fondateur.name}}</span>
                    <span>Membre de la compagnie <em>{{$ctrl.company.name}}</em></span>
                    <img ng-src="{{adherent.image}}" alt="" />
                </div>

                <!-- Seconde carte contact -->
                <div class="col s4">
                    <span>{{$ctrl.fondateur.name}}</span>
                    <span>Membre de la compagnie <em>{{$ctrl.company.name}}</em></span>
                    <img ng-src="{{adherent.image}}" alt="" />
                </div>

                <!-- Troisième carte contact -->
                <div class="col s4">
                    <span>{{$ctrl.fondateur.name}}</span>
                    <span>Membre de la compagnie <em>{{$ctrl.company.name}}</em></span>
                    <img ng-src="{{adherent.image}}" alt="" />
                </div>
            </div>

            <!-- Buttons -->

            <div class="row">
                <div class="center-align">
                    <a class="waves-effect waves-light btn" ng-click="$ctrl.edit($ctrl.company, $ctrl.social,$ctrl.tags,$ctrl.image)">
                        <i class="material-icons">save</i>
                    </a>
                    <a class="waves-effect waves-light btn" ng-click="$ctrl.cancel($ctrl.company)">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
