div{
    color: black !important;
}

img {
    width: 150px !important;
}

textarea {
    display: none !important;
}

input {
    display: none !important;
}

a {
    display: none !important;
}

#socialcompany {
    display: none !important;
}

.card {
    margin: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 20px !important;
}

p, h6, .smallPrint {
    font-size: 14px !important;
    line-height: 20px !!important;
}

h4 {
    font-size: 1.28rem !important;
}

h3 {
    font-size: 1.92rem !important;
}

img.responsive-img {
    max-width: 75% !important;
}

.card .card-content {
    padding: 0px !important;
}

.companyhead{
    background-color: blue;
}
