
<!-- <div class="col-12_lg-8_md-6_sm-3_xs-1"> -->
<div id="navbar">


<div layout="row" layout-padding layout-margin layout-fill id="navbar">

    <div flex-xs flex-gt-xs="25" layout="column" layout-align="center">
        <img src="../img/logo_BordeauxEntrepreneursV3.png" alt="logo" class="img-responsive" />
    </div>

    <div flex-xs flex-gt-xs="50" layout="row" layout-align="center" id="plouf">


            <a href="https://www.critikong.com/"><i class="material-icons md-48">grade</i></a>

            <a href="https://www.critikong.com/"><i class="material-icons">event</i></a>

            <a href="https://www.critikong.com/"><i class="material-icons md-48">face</i></a>

            <a href="https://www.critikong.com/"><i class="material-icons">exit_to_app</i></a>


    </div>

    <div flex-xs flex-gt-xs="25" layout="column" layout-align="left">
        <!-- <p style="text-align: left; color: #3a88be; margin-bottom: 0px;"> -->

            <!-- <i class="material-icons">account_box</i></br>
            Bonjour <strong>Audrey Alary.</strong></br>
            Bienvenue dans votre espace adhérent.</br> -->
            <md-card style="color: #3a88be;">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="../img/gorille_en_colere.gif">
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">Bonjour <strong>Audrey Alary</strong></span>
      <span class="md-subhead">Bienvenue dans votre espace adhérent</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-actions layout="row" layout-align="start center">
    <md-button>Ma Fiche</md-button>
    <md-button>Me Deconnecter</md-button>
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="icon">
        <md-icon md-svg-icon="icon"></md-icon>
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
</md-card>

        <!-- </p> -->
    </div>


</div>
</div>
