
<div id="navbar">


    <md-card>
        <div layout="row" layout-padding layout-margin layout-xs="column" layout-sm="column">

            <div flex-gt-xs="25" layout="column" layout-align="center">
                <img src="../img/logo_BordeauxEntrepreneursV3.png" alt="logo" class="img-responsive" />
            </div>

          <div layout="column" flex-gt-xs="100" layout-align="center" id="plouf">
            <div layout="row" style="justify-content:space-around;">
                <a href="https://www.critikong.com/"><i class="material-icons md-48">grade</i></a>

                <a href="https://www.critikong.com/"><i class="material-icons">event</i></a>

                <a href="https://www.critikong.com/"><i class="material-icons md-48">face</i></a>
            </div>
          </div>

            <div flex-gt-xs="25" layout="column" layout-align="left">

                <md-card flex style="color: #3a88be;">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="../img/gorille_en_colere.gif">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Bonjour <strong>Audrey Alary</strong></span>
                            <span class="md-subhead">Bienvenue dans votre espace adhérent</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button>Ma Fiche</md-button>
                        <a href="https://www.critikong.com/"><i class="material-icons">exit_to_app</i></a>
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="icon">
                                <md-icon md-svg-icon="icon"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                    </md-card-actions>
                </md-card>

            </div>


        </div>
</div>
</md-card>
