<!-- Display admin-add-menu component (see adminAddMenu.js ) and bind properties with all functions  -->

<div>
<center>
<md-card layout-padding flex-gt-xs="80">

<md-card-header layout-padding layout="column">
  <div layout="row" flex="100">
      <md-user-avatar flex-gt-xs="25">
      <a ng-href="{{$ctrl.company.website}}"><img ng-src="/img/developer.jpg" class="md-card-image" alt="" /></a>
      </md-user-avatar>

      <md-card-header-text flex-gt-xs="60" style="display: initial; color: #3a88be;">
          <!--///////////////////////////
             Company Name
        //////////////////////////////// -->
            <h2>
              <md-input-container class="md-block" flex-gt-xs="80">
                    <label>Company Name</label>
                    <input ng-model="$ctrl.company.name">
               </md-input-container>
            </h2>

          <!--////////////////////////////
              Sector of Activity
            ////////////////////////////// -->

            <h3>
              <md-input-container class="md-block" flex-gt-xs="80">
                  <label>Sector of Activity</label>
                  <input ng-model="$ctrl.company.sector">
               </md-input-container>
            </h3>

            <h3>
              <md-input-container class="md-block" flex-gt-xs="80">
                  <label>Company Website</label>
                  <input ng-model="$ctrl.company.website">
               </md-input-container>
            </h3>

            <md-chips
            flex-gt-xs="80"
            class="chipsdemoBasicUsage custom-chips md-chip md-chip-remove-container"
            ng-model="$ctrl.tags"
            readonly="$ctrl.readonly"
            md-removable="$ctrl.removable"
            placeholder="Enter a tag"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag">
            <md-chip-template>
            <strong>{{$chip}}</strong>
            </md-chip-template>
            </md-chips>
      </md-card-header-text>
  </div>
</md-card-header>



<md-card layout-padding layout="row" flex="100">
  <md-user-avatar  flex-gt-xs="" layout="row" id="socialcompany">
    <div layout="column">
      <md-input-container class="md-block" flex-gt-xs="80">
          <label>Facebook</label>
          <md-icon class="name"><a ng-href="{{$ctrl.company.facebook}}"><img ng-src="/img/facebook2.png" class="md-icon socialicons"></a></md-icon>
          <input ng-model="$ctrl.company.facebook">
     </md-input-container>
   </div>
   <div layout="column">
     <md-input-container class="md-block" flex-gt-xs="80">
         <label>linkedin</label>
         <md-icon class="name"><a ng-href="{{$ctrl.company.linkedin}}"><img ng-src="/img/linkedin2.png" class="md-icon socialicons"></a></md-icon>
         <input ng-model="$ctrl.company.linkedin">
    </md-input-container>
  </div>
  <div layout="column">
    <md-input-container class="md-block" flex-gt-xs="80">
        <label>Twitter</label>
        <md-icon class="name"><a ng-href="{{$ctrl.company.twitter}}"><img ng-src="/img/twitter.png" class="md-icon socialicons"></a></md-icon>
        <input ng-model="$ctrl.company.twitter">
   </md-input-container>
 </div>
 <div layout="column">
   <md-input-container class="md-block" flex-gt-xs="80">
       <label>You Tube</label>
       <md-icon class="name"><a ng-href="{{$ctrl.company.youtube}}"><img ng-src="/img/youtube.png" class="md-icon socialicons"></a></md-icon>
       <input ng-model="$ctrl.company.youtube">
  </md-input-container>
</div>
<div layout="column">
  <md-input-container class="md-block" flex-gt-xs="80">
      <label>Instagram</label>
      <md-icon class="name"><a ng-href="{{$ctrl.company.instagram}}"><img ng-src="/img/instagram.png" class="md-icon socialicons"></a></md-icon>
      <input ng-model="$ctrl.company.instagram">
 </md-input-container>
</div>
<div layout="column">
  <md-input-container class="md-block" flex-gt-xs="80">
      <label>Pininterest</label>
      <md-icon class="name"><a ng-href="{{$ctrl.company.pininterest}}"><img ng-src="/img/pininterest.png" class="md-icon socialicons"></a></md-icon>
      <input ng-model="$ctrl.company.pininterest">
 </md-input-container>
</div>
  </md-user-avatar>
</md-card>

<!-- ////////////////////////////////
LongContent
////////////////////////////////////-->
<md-card-content>
  <div layout="row">
      <div flex>
          <md-card>
            <md-input-container class="md-block">
              <h2 layout-padding style="color: #3a88be;"><label>Company Description</label></h2>
                <textarea ng-model="$ctrl.company.longContent" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </md-card>
      </div>
  </div>
</md-card-content>
<!-- ////////////////////////
First Contact Card
////////////////////////////-->
<md-card-content layout="row">
  <div flex-gt-xs="35">
      <md-card flex style="color: #3a88be;">
          <div layout="column">
              <div flex>
                  <h2>
                      <md-input-container class="md-block" flex-gt-xs="80">
                            <label>Contact</label>
                            <div></div>
                      </md-input-container>
                  </h2>
              </div>
          </div>

          <div layout="column">
              <div layout="row">
                <!--<div flex><img class="md-user-avatar" src="../img/gorille_en_colere.gif" style="width: 60%;"></div>-->
                <div flex>
                      <div layout="column">
                          <div>
                              <md-input-container class="md-block" flex-gt-xs="80">
                                  <label>Nom Prénom</label>
                                  <md-icon class="name"><i class="material-icons md-24 md-dark">person</i></md-icon>
                                  <input ng-model="$ctrl.company.user.contactname">
                             </md-input-container>
                          </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                              <label>Email</label>
                                <md-icon class="name"><i class="material-icons md-24 md-dark">email</i></md-icon>
                              <input ng-model="$ctrl.company.user.contactmail">
                          </md-input-container>
                        </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                            <label>Phone Number</label>
                            <md-icon class="name"><i class="material-icons md-24 md-dark">phone</i></md-icon>
                            <input ng-model="$ctrl.company.user.contactnumber">
                        </md-input-container>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div layout="column">
              <div flex>

                  <md-input-container class="md-block" flex-gt-xs="80">
                      <label>Facebook</label>
                      <md-icon class="name"><a ng-href="{{$ctrl.company.facebook}}"><img ng-src="/img/facebook2.png" class="md-icon socialicons"></a></md-icon>
                      <input ng-model="$ctrl.company.user.facebook">
                 </md-input-container>


                    <md-input-container class="md-block" flex-gt-xs="80">
                        <label>linkedin</label>
                        <md-icon class="name"><a ng-href="{{$ctrl.company.linkedin}}"><img ng-src="/img/linkedin2.png" class="md-icon socialicons"></a></md-icon>
                        <input ng-model="$ctrl.company.user.linkedin">
                   </md-input-container>


                    <md-input-container class="md-block" flex-gt-xs="80">
                        <label>Twitter</label>
                        <md-icon class="name"><a ng-href="{{$ctrl.company.twitter}}"><img ng-src="/img/twitter.png" class="md-icon socialicons"></a></md-icon>
                        <input ng-model="$ctrl.company.user.twitter">
                   </md-input-container>


              </div>
          </div>

      </md-card>
  </div>

  <!-- ////////////////////////
Fondateur Contact Card
////////////////////////////-->

  <div flex-gt-xs="35">
      <md-card flex style="color: #3a88be;">
          <div layout="column">
              <div flex>
                  <h2>
              <md-input-container class="md-block" flex-gt-xs="80">
                          <label>Fondateur</label>
                          <div></div>
              </md-input-container>
            </h2>
            </div>
          </div>

          <div layout="column">
              <div layout="row">
                  <!--<div flex><img class="md-user-avatar" src="../img/gorille_en_colere.gif" style="width: 60%;"></div>-->
                  <div flex>
                      <div layout="column">
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                                        <label>Nom Prénom</label>
                                        <md-icon class="name"><i class="material-icons md-24 md-dark">person</i></md-icon>
                                        <input ng-model="$ctrl.company.user.foundateur">
                            </md-input-container>
                          </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                              <md-icon class="name"><i class="material-icons md-24 md-dark">email</i></md-icon>
                                      <label>Email</label>
                                      <input ng-model="$ctrl.company.user.foundateuremail">
                          </md-input-container>
                        </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                                      <label>Phone Number</label>
                                      <md-icon class="name"><i class="material-icons md-24 md-dark">phone</i></md-icon>
                                      <input ng-model="$ctrl.company.user.foundateurnumber">
                          </md-input-container>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div layout="column">
              <div flex>
                <md-input-container class="md-block" flex-gt-xs="80">
                    <label>Facebook</label>
                    <md-icon class="name"><a ng-href="{{$ctrl.company.user.foundateurfacebook}}"><img ng-src="/img/facebook2.png" class="md-icon socialicons"></a></md-icon>
                    <input ng-model="$ctrl.company.user.foundateurfacebook">
               </md-input-container>


                  <md-input-container class="md-block" flex-gt-xs="80">
                      <label>linkedin</label>
                      <md-icon class="name"><a ng-href="{{$ctrl.company.user.foundateurlinkedin}}"><img ng-src="/img/linkedin2.png" class="md-icon socialicons"></a></md-icon>
                      <input ng-model="$ctrl.company.user.foundateurlinkedin">
                 </md-input-container>


                  <md-input-container class="md-block" flex-gt-xs="80">
                      <label>Twitter</label>
                      <md-icon class="name"><a ng-href="{{$ctrl.company.user.foundateurtwitter}}"><img ng-src="/img/twitter.png" class="md-icon socialicons"></a></md-icon>
                      <input ng-model="$ctrl.company.user.foundateurtwitter">
                 </md-input-container>
              </div>
          </div>

      </md-card>
  </div>

  <!-- ////////////////////////
Second Contact Card
////////////////////////////-->


  <div flex-gt-xs="35">
      <md-card flex style="color: #3a88be;">
          <div layout="column">
              <div flex>
                  <h2><md-input-container class="md-block" flex-gt-xs="80">
                              <label>Contact</label>
                              <div></div>
                  </md-input-container>
                </h2>
              </div>
          </div>

          <div layout="column">
              <div layout="row">
                  <!--<div flex><img class="md-user-avatar" src="../img/gorille_en_colere.gif" style="width: 60%;"></div>-->
                  <div flex>
                      <div layout="column">
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80" >
                                      <label>Nom Prénom</label>
                                        <md-icon class="name"><i class="material-icons md-24 md-dark">person</i></md-icon>
                                      <input ng-model="$ctrl.company.user.contactname2">
                          </md-input-container>
                        </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                              <md-icon class="name"><i class="material-icons md-24 md-dark ">email</i></md-icon>
                                      <label>Email</label>
                                      <input ng-model="$ctrl.company.user.contactemail2">
                          </md-input-container>
                        </div>
                          <div flex>
                            <md-input-container class="md-block" flex-gt-xs="80">
                                      <label>Phone Number</label>
                                      <md-icon class="name"><i class="material-icons md-24 md-dark">phone</i></md-icon>
                                      <input ng-model="$ctrl.company.user.contactnumber2">
                          </md-input-container>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div layout="column">
              <div flex>
                <md-input-container class="md-block" flex-gt-xs="80">
                    <label>Facebook</label>
                    <md-icon class="name"><a ng-href="{{$ctrl.company.user.contact2facebook}}"><img ng-src="/img/facebook2.png" class="md-icon socialicons"></a></md-icon>
                    <input ng-model="$ctrl.company.user.contact2facebook">
               </md-input-container>


                  <md-input-container class="md-block" flex-gt-xs="80">
                      <label>linkedin</label>
                      <md-icon class="name"><a ng-href="{{$ctrl.company.user.contact2linkedin}}"><img ng-src="/img/linkedin2.png" class="md-icon socialicons"></a></md-icon>
                      <input ng-model="$ctrl.company.user.contact2linkedin">
                 </md-input-container>


                  <md-input-container class="md-block" flex-gt-xs="80">
                      <label>Twitter</label>
                      <md-icon class="name"><a ng-href="{{$ctrl.company.contact2twitter}}"><img ng-src="/img/twitter.png" class="md-icon socialicons"></a></md-icon>
                      <input ng-model="$ctrl.company.user.contact2twitter">
                 </md-input-container>

              </div>
          </div>

      </md-card>
  </div>
</md-card-content>

<!-- ////////////////////////
Ce que nous vous proposons
////////////////////////////-->

<md-card-content>
  <div layout="row">
      <div flex>
          <md-card>
              <md-input-container class="md-block">
                  <h2 style="color: #3a88be;"><label>Ce que nous vous proposons</label></h2>
                  <textarea ng-model="$ctrl.company.purpose" md-maxlength="150" rows="5" md-select-on-focus></textarea>
              </md-input-container>
          </md-card>
      </div>
      <!-- ////////////////////////
Ce que nous recherchons
////////////////////////////-->
      <div flex>
          <md-card>
          <md-input-container class="md-block">
          <h2 style="color: #3a88be;"><label>Ce que nous recherchons</label></h2>
          <textarea ng-model="$ctrl.company.search" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          </md-card>
      </div>
  </div>
</md-card-content>

<!-- ////////////////////////
Notes
////////////////////////////-->

<md-card-content>
  <div layout="row">
      <div flex>
          <md-card>
            <md-input-container class="md-block">
              <h2 layout-padding style="color: #3a88be;"><label>Notes</label></h2>
                <textarea ng-model="$ctrl.company.notes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </md-card>
      </div>
  </div>
</md-card-content>

<!-- ////////////////////////
Div Containing Buttons
////////////////////////////-->

<div layout="row" layout-padding>

  <md-button ng-click="$ctrl.saveCompanies($ctrl.company)" aria-label="photo" class="md-fab md-primary md-icon-button">
      <i class="material-icons">save</i>
  </md-button>
</div>

</md-card>
</center>
</div>
