<section>
    <div class="card card-panel">
        <div class="card-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <h1>Informations principales</h1>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder=" " placeholder="Placeholder" id="icon_prefix" type="text" class="validate" ng-model="$ctrl.currentUser.prenom" ng-value="{{$ctrl.currentUser.prenom}}">
                            <label class="active" for="icon_prefix">Prenom</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder=" " type="text" class="validate" id="nom" ng-model="$ctrl.currentUser.name">
                            <label class="active" for="nom">Nom</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input placeholder=" " id="icon_telephone" type="tel" class="validate" ng-model="$ctrl.currentUser.number">
                            <label class="active" for="icon_telephone">Telephone</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">email</i>
                            <input placeholder=" " id="email" type="email" class="validate" ng-model="$ctrl.currentUser.email">
                            <label class="active" for="email" data-error="erreur" data-success="validé">Email</label>
                        </div>


                        <div class="input-field col s6">
                            <i class="material-icons prefix">lock_outline</i>
                            <input placeholder=" " id="icon_password" type="password" class="validate" ng-model="$ctrl.currentUser.password">
                            <label class="active" for="icon_password">Mot de pass</label>
                        </div>


                        <div class="input-field col s6">
                            <i class="material-icons prefix">business</i>
                            <input placeholder=" " id="business" type="text" class="validate" ng-model="$ctrl.company.name">
                            <label class="active" for="business">Compagnie</label>
                        </div>

                        <form action="#">
                            <div class="file-field input-field col s6">
                                <div class="btn blue">
                                    <span>Avatar</span>
                                    <file ng-model="$ctrl.image"></file>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>


                    </div>


                    <div class="row">
                        <h1>Adresse</h1>


                        <div class="input-field col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="location_on" type="text" class="validate" ng-model="$ctrl.currentUser.address.rue">
                            <label class="active" for="location_on" data-success="right">Rue</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="ville" type="text" class="validate" ng-model="$ctrl.currentUser.address.ville">
                            <label class="active" for="location_on" data-success="right">Ville</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="codePostale" type="text" class="validate" ng-model="$ctrl.currentUser.address.codePostal" placeholder="75000">
                            <label class="active" for="compagnie" data-success="right">Code Postal</label>
                        </div>
                        
                        <div class="input-field col s6">
                            <select class="browser-default" ng-model="$ctrl.region" ng-change="$ctrl.find()">
                              <option value="" disabled selected>{{$ctrl.currentUser.address.region || 'Ma région' }}</option>
                              <option ng-repeat="region in $ctrl.regions">{{region}}</option>
                            </select>
                        </div>


                    </div>


                    <!-- Social -->
                    <div class="row">
                        <h1>Social</h1>

                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.facebook}}"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.facebook">
                        </div>
                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.linkedin">
                        </div>
                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.twitter}}"><img ng-src="/img/twitter.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.twitter">
                        </div>
                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.youtube}}"><img ng-src="/img/youtube.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.youtube">
                        </div>
                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.instagram}}"><img ng-src="/img/instagram.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.instagram">
                        </div>
                        <div class="input-field col s4">
                            <a ng-href="{{$ctrl.currentUser.social.pinterest}}"><img ng-src="/img/pininterest.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.pinterest">
                        </div>
                    </div>

                </form>
            </div>
            <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                <a class="btn-floating btn-large red" ng-click="$ctrl.edit($ctrl.currentUser)">
                    <i class="material-icons">save</i>
                </a>
            </div>


            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1" class="materialize-textarea" ng-model="$ctrl.currentUser.remarques"></textarea>
                            <label class="active" for="textarea1">Notes</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
