<div layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container class="md-icon-float">
                <label>Prenom</label>
                <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
                <input ng-model="$ctrl.currentUser.prenom" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float">
                <label>Nom</label>
                <input ng-model="$ctrl.currentUser.name" type="text">
            </md-input-container>

            <md-input-container>
                <label>Tel</label>
                <input name="phone" ng-model="$ctrl.currentUser.number" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" type="number"/>
                <div class="hint" ng-show="$ctrl.showHints">(###) ###-####</div>
                <div ng-messages="userForm.phone.$error" ng-hide="$ctrl.showHints">
                    <div ng-message="pattern">(###) ###-#### - Veillez entrer un numéro de téléphone valid</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Mot de passe</label>
                <input ng-model="$ctrl.currentUser.password" type="password">
            </md-input-container>

        </div>
    </md-content>

    <md-content layout-padding>
        <div>
            <form name="userForm">

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company</label>
                        <input ng-model="$ctrl.company.name">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="$ctrl.currentUser.email" type="email">
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="$ctrl.currentUser.address.rue">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <input ng-model="$ctrl.currentUser.address.rue2" placeholder="Address 2">
                </md-input-container>
                
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ville</label>
                        <input ng-model="$ctrl.currentUser.address.ville">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Région</label>
                        <md-select ng-model="$ctrl.currentUser.address.region">
                            <md-option ng-repeat="region in $ctrl.regions" value="{{region.abbrev}}">
                                {{region.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Code postal</label>
                        <input name="postalCode" ng-model="$ctrl.currentUser.address.codePostal" placeholder="75000" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Code Postal requis</div>
                            <div ng-message="pattern" class="my-message">Le code Postal semble invalid
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </form>
        </div>
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container class="md-icon-float">
                    <label>Lien Facebook</label>
                    <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
                    <input ng-model="$ctrl.currentUser.social.facebook" type="text">
                </md-input-container>

                <md-input-container>
                  <label>Lien LinkedIn</label>
                    <input ng-model="$ctrl.currentUser.social.linkedin" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Lien Twitter</label>
                    <input ng-model="$ctrl.currentUser.social.twitter" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Lien Youtube</label>
                    <input ng-model="$ctrl.currentUser.social.youtube" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Lien Instagram</label>
                    <input ng-model="$ctrl.currentUser.social.instagram" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Lien Pinterest</label>
                    <input ng-model="$ctrl.currentUser.social.pinterest" type="text">
                </md-input-container>

            </div>
        </md-content>
    </md-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.edit($ctrl.currentUser)">
            <i class="material-icons">border_color</i>
        </md-button>
    </md-card-actions>

</div>
