<section ng-if="!$ctrl.editMode">
    <div class="card card-panel">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <h1>Informations principales</h1>
                        <div class="col s4">
                            <img class="responsive-img" ng-src="{{$ctrl.currentUser.image}}">
                        </div>
                        <div class="col s8">
                            <label for="icon_telephone">Prénom Nom</label>
                            <p><i class="material-icons">account_circle</i> {{$ctrl.currentUser.firstname}} {{$ctrl.currentUser.name}}</p>
                            <label for="icon_telephone">Telephone</label>
                            <p><i class="material-icons">phone</i> {{$ctrl.currentUser.number}}</p>
                            <label>Email</label>
                            <p><i class="material-icons">email</i> {{$ctrl.currentUser.email}}</p>
                            <label>Société</label>
                            <p><i class="material-icons">business</i> {{$ctrl.company.name}}</p>
                        </div>
                    </div>


                    <div class="row">
                        <h1>Adresse</h1>

                        <div class="col s6">
                            <label>Rue</label>
                            <p><i class="material-icons">location_on</i> {{$ctrl.currentUser.address.rue}}</p>
                            <label>Ville</label>
                            <p><i class="material-icons">location_on</i> {{$ctrl.currentUser.address.ville}}</p>
                        </div>
                        <div class="col s6">
                            <label>Code Postal</label>
                            <p><i class="material-icons">location_on</i> {{$ctrl.currentUser.address.codePostal}}</p>
                            <label>Région</label>
                            <p><i class="material-icons">location_on</i> {{$ctrl.currentUser.address.region}}</p>
                        </div>

                    </div>


                    <!-- Social -->
                    <div class="row">
                        <h1>Social</h1>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.facebook">
                            <a href="{{$ctrl.currentUser.social.facebook}}" target="_blank"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.facebook}}</p>
                        </div>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.linkedin">
                            <a href="{{$ctrl.currentUser.social.linkedin}}" target="_blank"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.linkedin}}</p>
                        </div>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.twitter">
                            <a href="{{$ctrl.currentUser.social.twitter}}" target="_blank"><img ng-src="/img/twitter.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.twitter}}</p>
                        </div>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.youtube">
                            <a href="{{$ctrl.currentUser.social.youtube}}" target="_blank"><img ng-src="/img/youtube.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.youtube}}</p>
                        </div>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.instagram">
                            <a href="{{$ctrl.currentUser.social.instagram}}" target="_blank"><img ng-src="/img/instagram.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.instagram}}</p>
                        </div>
                        <div class="col s2" ng-if="$ctrl.currentUser.social.pinterest">
                            <a href="{{$ctrl.currentUser.social.pinterest}}" target="_blank"><img ng-src="/img/pininterest.png" class="socialicons"></a>
                            <p>{{$ctrl.currentUser.social.pinterest}}</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <form class="col s12">
                    <label>Notes</label>
                    <p><i class="material-icons prefix">mode_edit</i> {{$ctrl.currentUser.remarques}}</p>
                </form>
            </div>

            <div class="fixed-action-btn click-to-toggle">
                <a tooltipped data-position="left" data-delay="50" data-tooltip="Editer" class="btn-floating btn-large colored" ng-click="$ctrl.editMode = true">
                    <i class="material-icons">mode_edit</i>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Edit Mode -->
<section ng-if="$ctrl.editMode">
    <div class="card card-panel">
        <div class="card-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <h1>Informations principales</h1>
                        <div input-field class="col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="Placeholder" id="icon_prefix" type="text" ng-model="$ctrl.currentUser.firstname" ng-value="{{$ctrl.currentUser.firstname}}">
                            <label for="icon_prefix">Prénom</label>
                        </div>

                        <div input-field class="col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" id="nom" ng-model="$ctrl.currentUser.name">
                            <label for="nom">Nom</label>
                        </div>

                        <div input-field class="col s6">
                            <i class="material-icons prefix">phone</i>
                            <input placeholder="0612345678" id="icon_telephone" type="tel" ng-model="$ctrl.currentUser.number">
                            <label for="icon_telephone">Telephone</label>
                        </div>

                        <div input-field class="col s6">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" ng-model="$ctrl.currentUser.email">
                            <label for="email" data-error="erreur" data-success="validé">Email</label>
                        </div>


                        <div input-field class="col s6">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="icon_password" type="password" ng-model="$ctrl.currentUser.password">
                            <label for="icon_password">Mot de pass</label>
                        </div>


                        <div input-field class="col s6">
                            <i class="material-icons prefix">business</i>
                            <input id="business" type="text" ng-model="$ctrl.company.name">
                            <label for="business">Compagnie</label>
                        </div>

                        <form action="#">
                            <div class="file-field col s6">
                                <div class="btn blue">
                                    <span>Avatar</span>
                                    <file ng-model="$ctrl.image"></file>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>


                    </div>


                    <div class="row">
                        <h1>Adresse</h1>


                        <div input-field class="col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="location_on" type="text" class="validate" ng-model="$ctrl.currentUser.address.rue">
                            <label for="location_on" data-success="right">Rue</label>
                        </div>

                        <div input-field class="col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="ville" type="text" class="validate" ng-model="$ctrl.currentUser.address.ville">
                            <label for="location_on" data-success="right">Ville</label>
                        </div>

                        <div input-field class="col s6">
                            <i class="material-icons prefix">location_on</i>
                            <input id="codePostale" type="text" class="validate" ng-model="$ctrl.currentUser.address.codePostal" placeholder="33000">
                            <label for="compagnie" data-success="right">Code Postal</label>
                        </div>

                        <div input-field class="col s6">
                            <select ng-model="$ctrl.region" ng-change="$ctrl.find()" material-select>
                              <option value="" disabled selected>{{$ctrl.currentUser.address.region || 'Ma région' }}</option>
                              <option ng-repeat="region in $ctrl.regions">{{region}}</option>
                            </select>
                        </div>


                    </div>


                    <!-- Social -->
                    <div class="row">
                        <h1>Social</h1>

                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.facebook}}"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.facebook">
                        </div>
                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.linkedin">
                        </div>
                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.twitter}}"><img ng-src="/img/twitter.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.twitter">
                        </div>
                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.youtube}}"><img ng-src="/img/youtube.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.youtube">
                        </div>
                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.instagram}}"><img ng-src="/img/instagram.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.instagram">
                        </div>
                        <div input-field class="col s4">
                            <a ng-href="{{$ctrl.currentUser.social.pinterest}}"><img ng-src="/img/pininterest.png" class="socialicons"></a>
                            <input ng-model="$ctrl.currentUser.social.pinterest">
                        </div>
                    </div>

                </form>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div input-field class="col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1" class="materialize-textarea" ng-model="$ctrl.currentUser.remarques"></textarea>
                            <label for="textarea1">Notes</label>
                        </div>
                    </div>
                </form>
            </div>


            <div class="fixed-action-btn click-to-toggle" ng-hide="$ctrl.hidden">
                <a class="btn-floating btn-large colored">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <a tooltipped data-position="left" data-delay="50" data-tooltip="Enregistrer" class="btn-floating btn-large colored" ng-click="$ctrl.edit($ctrl.currentUser)">
                            <i class="material-icons">save</i>
                        </a>
                    </li>
                    <li>
                        <a tooltipped data-position="left" data-delay="50" data-tooltip="Annuler" class="btn-floating btn-large colored" ng-click="$ctrl.editMode = false">
                            <i class="material-icons">cancel</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
