<div layout="column" flex role="main">
    <md-card layout="vertical" flex id="homeback">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex-gt-xs="30" layout-wrap layout-padding style="box-shadow:none;">
                <md-content>
                    <h3>Créer un compte</h3>
                    <md-input-container flex-gt-xs="80">
                        <i class="material-icons">account_circle</i>
                        <input id="icon_name" type="text" ng-model="$ctrl.user.name">
                        <label for="icon_name" style="color: #3a88be;">Name</label>
                    </md-input-container>
                    <md-input-container>
                        <i class="material-icons">email</i>
                        <input id="icon_email" type="email" ng-model="$ctrl.user.email">
                        <label for="icon_email" style="color: #3a88be;">Email</label>
                    </md-input-container>
                    <md-input-container>
                        <i class="material-icons">lock</i>
                        <input id="icon_password" type="password" ng-model="$ctrl.user.password">
                        <label for="icon_password">Password</label>
                    </md-input-container>
                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <a ui-sref="company.list">
                                <md-button class="md-raised" flex="50" flex-sm="100" ng-click="$ctrl.create()" style="color: #3a88be;">Connexion</md-button>
                            </a>
                        </div>
                    </md-input-container>
                </md-content>
            </md-whiteframe>
        </div>
    </md-card>
</div>
