<section>
    <div class="card card-panel">
        <div class="card-content">

            <div class="row">
                <div class="col s12">
                    <h1 class="titre">S'enregistrer</h1>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate" ng-model="$ctrl.user.firstname">
                            <label for="first_name">Prénom</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" ng-model="$ctrl.user.name">
                            <label for="last_name">Nom</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" ng-model="$ctrl.user.password">
                            <label for="password">Mot de passe</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="$ctrl.user.email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s12">
                    <button ng-click="$ctrl.add($ctrl.user)" class="btn waves-effect waves-light right" type="submit" name="action">Valider
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
