<div class="row">

    <div class="row">
        <div class="col s12">
            <h1 class="titre">S'enregistrer</h1>
        </div>
    </div>

    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" ng-model="$ctrl.user.prenom">
                <label for="first_name">Prenom</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="$ctrl.user.name">
                <label for="last_name">Nom</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="$ctrl.user.password">
                <label for="password">Mot de passe</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="$ctrl.user.email">
                <label for="email">Email</label>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col s12 m6 l3">
            <button ng-click="$ctrl.add($ctrl.user)" class="btn waves-effect waves-light" type="submit" name="action">Valider
              <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
