<div class="row">

    <div class="row">
        <div class="col s12">
            <h1 class="titre">Ajouter un nouvel adhérent</h1>
        </div>
    </div>

    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate" ng-model="$ctrl.user.prenom">
                <label for="first_name">Prenom</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="$ctrl.user.name">
                <label for="last_name">Nom</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="$ctrl.user.email">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="$ctrl.user.password">
                <label for="password">Mot de passe</label>
            </div>
        </div>


        <label>Compagnie</label>
        <select class="browser-default" ng-model="$ctrl.search" ng-change="$ctrl.find()">
          <option value="" disabled selected>Choose your option</option>
          <option ng-repeat="company in $ctrl.companies">{{company.name}}</option>
        </select>

    </form>

    <div class="row">
        <div class="col s12 m6 l3">
            <button ng-click="$ctrl.add($ctrl.user, $ctrl.search)" class="btn waves-effect waves-light" type="submit" name="action">Valider
  <i class="material-icons right">send</i>
</button>
        </div>
    </div>
</div>
