<div flex layout="row" layout-padding layout-margin layout-wrap>
    <div flex-xs flex-gt-xs="100" layout="column">

        <form ng-submit="$event.preventDefault()" name="searchForm" flex="100">
            <div layout-gt-sm="row">
          <!-- I change the type of input because it did not work whit the previous one... -->
                <md-input-container flex="50">
                    <label>Enter a company name</label>
                    <input type="text" ng-model="$ctrl.name" >
                </md-input-container>
                <!-- bouton for search by name -->
                <button type="submit" name="button" ng-click="$ctrl.filter($ctrl.name)">chercher</button>

                <div flex="50">
                    <md-select placeholder="Search by Sector of Activity" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                </div>
            </div>
        </form>
    </div>
</div>


<div flex layout="row" layout-padding layout-margin layout-wrap>
    <div flex-xs flex-gt-xs="100" layout="column">

        <form ng-submit="$event.preventDefault()" name="searchForm" flex="100">
            <div layout-gt-sm="row">
                <div flex="50">
                    <md-chips ng-model="ctrl.tags" readonly="ctrl.readonly" md-removable="ctrl.removable" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag"></md-chips>
                </div>

                <md-input-container flex="50">
                    <label> Mulitple Sectors</label>
                    <md-select ng-model="selectedSector" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for mulitple sectors" class="demo-header-searchbox lg-text">
                        </md-select-header>
                        <md-optgroup label="sectors">
                            <md-option ng-value="sector" ng-repeat="sector in sectors| filter: searchTerm">{{sector}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </form>
    </div>
</div>
