
<div layout="row" layout-padding layout-margin layout-wrap>
    <div flex-gt-xs layout="column" layout-align="center" ng-repeat="company in $ctrl.companies |orderBy:'name' |limitTo : $ctrl.carouselstate track by $index">
        <md-card flex>
            <img ng-src="/img/developer.jpg" class="md-card-image" alt="" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{company.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{company.longContent | limitTo : 180}}
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="company.item({id:company._id})" class="md-icon-button md-fab md-primary md-hue-2" aria-label="Settings">
                    <i class="material-icons">search</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-fab md-primary md-icon-button" aria-label="Load More">
        <i class="material-icons" ng-click="$ctrl.loadMore()">expand_more</i>
    </md-button>
    <a class="md-fab md-primary md-icon-button" ui-sref="company.item({id:'_new'})">
        <i class="material-icons" ng-click="$ctrl.loadMore()">add</i>
    </a>
</section>
