<div class="card">
    <div class="row">
        <ul class="containerb">

            <li>
                <h1 ng-click="editMode = true" ng-hide="editMode" class="editMode-label">{{$ctrl.blog.title}}</h1>
                <input ng-change="blog.editMode = true" ng-blur="editMode = false;" ng-show="editMode" ng-model="$ctrl.blog.title" class="editMode-label" type="text" />
                <p ng-click="editMode = true" ng-hide="editMode" class="editMode-label">{{$ctrl.blog.author}}</p>
                <input ng-change="blog.editMode = true" ng-blur="editMode = false;" ng-show="editMode" ng-model="$ctrl.blog.author" class="editMode-label" name="author" type="text" />
                <p> Published on the {{$ctrl.blog.PublishedAt*1000 | date:' dd-MMMM-yyyy  @  hh:mm'}}</p>
                <p ng-click="editMode = true" ng-hide="editMode" class="editMode-label">{{$ctrl.blog.content}} </p>
                <textarea ng-change="blog.editMode = true" ng-blur="editMode = false;" ng-show="editMode" ng-model="$ctrl.blog.content" class="editMode-label" name="content" type="text"></textarea>
            </li>
            <button class="btn-link" ng-click="$ctrl.saveBlogs($ctrl.blog)">Save</button>
            <button class="btn-link" ng-click="$ctrl.delete($ctrl.blog)">Delete</button>
        </ul>
    </div>
</div>
