<div id="footer" class="page-footer" ng-if="$ctrl.currentUser">
    <div class="container">
        <div class="row">
            <!-- First column -->
            <h5 class="white-text">Nouvelles Sociétés Adhérentes</h5>
            <div class="col l4 s12" ng-repeat="company in $ctrl.companies | orderBy: 'created_at':true | limitTo: 3">
                <div class="card-panel">
                    <a ui-sref="app.company({id:company._id})">
                        <div class="row">
                            <!-- <div class="col s3 roundfooterimage" style="background-image:url({{company.image}})"> -->
                            <div class="col s4">
                              <img ng-src="{{company.image}}" alt="" class="circle">
                            </div>
                            <div class="col s8">
                                <h6>{{company.name | uppercase}} nous à rejoint</h6>
                                <p>le {{company.createdAt | date:'dd/MM/yy'}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="right grey-text text-lighten-4">
                © 2017 Réalisé par les élèves de la <a class="grey-text text-lighten-2" href="//www.wildcodeschool.fr" target="_blank">Wild Code School</a>
            </p>
        </div>
    </div>
</div>
