
<div layout="row" layout-padding layout-margin layout-fill >
  <div flex-xs flex-gt-xs="33" layout="column" layout-align="center">

      <md-card>
        <img ng-src="/img/developer.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-icon-button" aria-label="Favorite">
           <i class="material-icons">favorite</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary md-hue-2" aria-label="Settings">
          <i class="material-icons">menu</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary md-hue-2" aria-label="Share">
            <i class="material-icons">share</i>
          </md-button>
        </md-card-actions>
      </md-card>
 </div>

<div flex-xs flex-gt-xs="33" layout="column" layout-align="center">
      <md-card>
        <img ng-src="/img/entreprenuer.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-icon-button" aria-label="Favorite">
           <i class="material-icons">favorite</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary md-hue-2" aria-label="Settings">
          <i class="material-icons">menu</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary md-hue-2" aria-label="Share">
            <i class="material-icons">share</i>
          </md-button>
        </md-card-actions>
      </md-card>
</div>



<div flex-xs flex-gt-xs="33" layout="" layout-align="center">
      <md-card>
        <img ng-src="/img/open_shop.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" >
          <md-button class=" md-fab md-icon-button" aria-label="Favorite">
           <i class="material-icons">favorite</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary" aria-label="Settings">
          <i class="material-icons">menu</i>
          </md-button>
          <md-button class="md-icon-button md-fab md-primary md-hue-2" aria-label="Share">
            <i class="material-icons">share</i>
          </md-button>
        </md-card-actions>
      </md-card>
 </div>
</div>
