<section>
    <center>
        <div class="card card-panel">
            <div class="card-content">
                <div class="row">
                    <div class="col s3">
                        <a href="{{$ctrl.company.siteweb}}" target="_blank">
                            <img ng-src="/img/developer.jpg" class="responsive-img" alt="" />
                        </a>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <file ng-model="$ctrl.image" ng-change="$ctrl.preview()"></file>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col s9">
                        <div class="input-field">
                            <textarea rows="1" class="materialize-textarea" ng-model="$ctrl.company.name"></textarea>
                            <label>Company Name</label>
                        </div>

                        <div class="input-field">
                            <textarea rows="1" class="materialize-textarea" ng-model="$ctrl.company.secteur"></textarea>
                            <label>Sector of Activity</label>
                        </div>

                        <div class="input-field">
                            <textarea rows="1" class="materialize-textarea" ng-model="$ctrl.company.sitweb"></textarea>
                            <label>Company Website</label>
                        </div>

                        <div class="input-field">
                            <textarea rows="1" class="materialize-textarea validate" ng-model="$ctrl.tags" placeholder="Entrer les mots clés séparés par une ,"></textarea>
                            <label>Tags</label>
                        </div>
                    </div>
                </div>

                <!--////////////////////////////
        Social inputs
      ////////////////////////////// -->

                <div class="row">
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.facebook}}">
                            <img ng-src="/img/facebook2.png" class="socialicons">
                        </a>
                        <input ng-model="$ctrl.company.social.facebook">
                        <label>Facebook</label>
                    </div>
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                        <input ng-model="$ctrl.company.social.linkedin">
                        <label>linkedin</label>
                    </div>
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.twitter}}"><img ng-src="/img/twitter.png" class="socialicons"></a>
                        <input ng-model="$ctrl.company.social.twitter">
                        <label>Twitter</label>
                    </div>
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.youtube}}"><img ng-src="/img/youtube.png" class="socialicons"></a>
                        <input ng-model="$ctrl.company.social.youtube">
                        <label>YouTube</label>
                    </div>
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.instagram}}"><img ng-src="/img/instagram.png" class="socialicons"></a>
                        <input ng-model="$ctrl.company.social.instagram">
                        <label>Instagram</label>
                    </div>
                    <div class="input-field col s4">
                        <a ng-href="{{$ctrl.company.pininterest}}"><img ng-src="/img/pininterest.png" class="socialicons"></a>
                        <input ng-model="$ctrl.company.social.pinterest">
                        <label>Pinterest</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.presentation" maxlength="300" rows="5"></textarea>
                        <label>Company Description</label>
                    </div>
                </div>

                <!-- ////////////////////////
            First Contact Card
            ////////////////////////////-->

                <div class="row">
                    <div class="col s4">
                        <div class="row">
                          <div class="input-field col s12">
                                <h3>Contact</h3>
                                <!-- <input type="text" name="" value=""> -->
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">person</i>
                                <input ng-model="$ctrl.cofondateurbis.name">
                                <label>Nom Prénom</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">email</i>
                                <input ng-model="$ctrl.cofondateurbis.email">
                                <label>Email</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">phone</i>
                                <input ng-model="$ctrl.cofondateurbis.number">
                                <label>Phone Number</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.facebook}}"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.cofondateurbis.social.facebook">
                                <label>Facebook</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.cofondateurbis.social.linkedin">
                                <label>linkedin</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.twitter}}"><img ng-src="/img/twitter.png" class="socialicons"></a>
                                <input ng-model="$ctrl.cofondateurbis.social.twitter">
                                <label>Twitter</label>
                            </div>
                        </div>
                    </div>

                    <!-- ////////////////////////
Fondateur Contact Card
////////////////////////////-->

                    <div class="col s4">
                        <div class="row">
                            <div class="input-field col s12">
                                <h3>Fondateur</h3>
                                <!-- <input type="text" name="" value=""> -->
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">person</i>
                                <input ng-model="$ctrl.fondateur.name">
                                <label>Nom Prénom</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">email</i>
                                <input ng-model="$ctrl.fondateur.email">
                                <label>Email</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">phone</i>
                                <input ng-model="$ctrl.fondateur.number">
                                <label>Phone Number</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-src="{{$ctrl.foundateur.social.facebook}}"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.fondateur.social.facebook">
                                <label>Facebook</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-src="{{$ctrl.fondateur.social.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.fondateur.social.linkedin">
                                <label>linkedin</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-src="{{$ctrl.fondateur.social.twitter}}"><img ng-src="/img/twitter.png" class="socialicons"></a>
                                <input ng-model="$ctrl.fondateur.social.twitter">
                                <label>Twitter</label>
                            </div>
                        </div>
                    </div>


                    <!-- ////////////////////////
                Second Contact Card
                ////////////////////////////-->

                    <div class="col s4">
                        <div class="row">
                            <div class="input-field col s12">
                                <h3>Contact</h3>
                                <!-- <input type="text" name="" value=""> -->
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">person</i>
                                <input ng-model="$ctrl.cofondateur.name">
                                <label>Nom Prénom</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">email</i>
                                <input ng-model="$ctrl.cofondateur.email">
                                <label>Email</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons">phone</i>
                                <input ng-model="$ctrl.cofondateur.number">
                                <label>Phone Number</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.cofondateur.social.facebook}}"><img ng-src="/img/facebook2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.cofondateur.social.facebook">
                                <label>Facebook</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.cofondateur.social.linkedin}}"><img ng-src="/img/linkedin2.png" class="socialicons"></a>
                                <input ng-model="$ctrl.cofondateur.social.linkedin">
                                <label>linkedin</label>
                            </div>
                            <div class="input-field col s12">
                                <a ng-href="{{$ctrl.cofondateur.social.twitter}}">
                                    <img ng-src="/img/twitter.png" class="socialicons">
                                </a>
                                <input ng-model="$ctrl.cofondateur.social.twitter">
                                <label>Twitter</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.prestations" maxlength="150" rows="5"></textarea>
                        <label>Ce que nous vous proposons</label>
                    </div>
                </div>

                <!-- ////////////////////////
                Ce que nous recherchons
                ////////////////////////////-->

                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.attentes" maxlength="150" rows="5"></textarea>
                        <label>Ce que nous recherchons</label>
                    </div>
                </div>

                <!-- ////////////////////////
                Notes
                ////////////////////////////-->

                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" ng-model="$ctrl.company.notes" maxlength="150" rows="5"></textarea>
                        <label>Notes</label>
                    </div>
                </div>


                <!-- ////////////////////////
                Div Containing Buttons
                ////////////////////////////-->

                <div class="row">
                    <div class="center-align">
                        <a class="waves-effect waves-light btn" ng-click="$ctrl.saveCompanies($ctrl.company,$ctrl.tags,$ctrl.fondateur,$ctrl.cofondateur, $ctrl.cofondateurbis, $ctrl.image)">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </center>
</section>
